<header>
    <h1><span style="background-image: url('/assets/sparkle_white.gif');">ItsRealFortune</span></h1>
    <h2><span style="background-image: url('/assets/sparkle_white.gif');">@site.header.h2</span></h2>
    <nav>
      <ul style="display: flex; flex-direction: row; list-style: none; gap: 10px; justify-content: center;">
        <li><a href="/">@site.header.home</a></li>
        <li><a href="/about">@site.header.about</a></li>
        <li><a href="/services">@site.header.services</a></li>
        <li><a href="/contact">@site.header.contact</a></li>
      </ul>
    </nav>
</header>