<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Welcome to My Space - ItsRealFortune</title>
<link rel="stylesheet" href="styles/styles.css">
<meta name="og:title" content="Welcome to My Cosmic Place - ItsRealFortune">
<meta name="og:description" content="Join me, ItsRealFortune, as I showcase my projects and services.">
<meta name="og:keywords" content="ItsRealFortune, portfolio, services, contact, space, Chloe Rolzhausen">
<meta name="og:author" content="ItsRealFortune">
<meta name="og:image" content="https://itsrealfortune.fr/assets/icon.png">
<link rel="icon" href="/favicon.ico">